<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript">
      var rest_data = {{ rest_data|safe }};
    </script>
    <script type="text/javascript"
      src="{{ url_for('static', filename='../static/js/jquery-2.1.4.min.js') }}"></script>
    <script type="text/javascript"
      src="{{ url_for('static', filename='../static/js/bootstrap.js') }}"></script>
    <script type="text/javascript"
      src="{{ url_for('static', filename='../static/js/swipe_script.js') }}"></script>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='../static/css/bootstrap.css') }}"/>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='../static/css/bootstrap-theme.min.css') }}"/>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='../static/css/style.css') }}"/>
  </head>
  <body>
  <div class="wrapper container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 id="rest-name">This is Stupid</h1>
      </div>
    </div>
    <br><br>

    <div class="row">
      <div class="col-md-2">
        <br><br><br><br>
        <input type="image" id="left-btn" src="../static/img/arrow_left.png" width="100"></button>
      </div>
      <div class="col-md-8 text-center">
        <img id="rest-img"  class="expand" height="400" src=""/>
      </div>
      <div class="col-md-2">
        <br><br><br><br>
        <input type="image" id="right-btn" src="../static/img/arrow_right.png" width="100"></button>
      </div>
    </div>


    <div class="row text-center">
      <h2 style="color: white;" id="rest-rating"></h2>
    </div>
  </div>
  <br>
  <br>

</body>
</html>
